<script>
	import meetups from "./Meetups/meetups-store.js";
	import Header from "./UI/Header.svelte";
	import Footer from "./UI/Footer.svelte";
	import MeetupGrid from "./Meetups/MeetupGrid.svelte";
	import TextInput from "./UI/TextInput.svelte";
	import Button from "./UI/Button.svelte";
	import EditMeetup from "./Meetups/EditMeetup.svelte";
	import MeetupDetail from "./Meetups/MeetupDetail.svelte";
  
	// let meetups = ;
  
	let editMode;
	let editedId;
	let page = "overview";
	let pageData = {};

	fetch("https://lightsail.condos4rent.in/api/condos?populate=*&filters[type][$eq]=sale").then(res => {
		if(!res.ok) {
			throw new Error('Resonse not valid');
		}
		return res.json();
	})
	.then(data => {
		const condos = [];
		let imageURL = '';
		for(const key in data.data) {
			if(data.data[key].attributes.images.data != null){
			  imageURL = data.data[key].attributes.images.data[0].attributes.url;
			}
			condos.push({...data.data[key].attributes, id: data.data[key].id, imageURL: imageURL})
		}
		meetups.setMeetups(condos);
		console.log(condos);
		
	})
	.catch(err => { console.log(err); });
  
	function savedMeetup(event) {
	  editMode = null;
	  editedId = null;
	}
  
	function cancelEdit() {
	  editMode = null;
	  editedId = null;
	}
  
	function showDetails(event) {
	  page = "details";
	  pageData.id = event.detail;
	}
  
	function closeDetails() {
	  page = "overview";
	  pageData = {};
	}
  
	function startEdit(event) {
	  editMode = "edit";
	  editedId = event.detail;
	}
  </script>
  
  <style>
	main {
	  margin-top: 5rem;
	}
  </style>
  
  <Header />
  <main>
	{#if page === 'overview'}
	  {#if editMode === 'edit'}
		<EditMeetup id={editedId} on:save={savedMeetup} on:cancel={cancelEdit} />
	  {/if}
	  <MeetupGrid
		meetups={$meetups}
		on:showdetails={showDetails}
		on:edit={startEdit}
		on:add={() => {editMode = 'edit'}} />
	{:else}
	  <MeetupDetail id={pageData.id} on:close={closeDetails} />
	{/if}
  </main>
  <!-- <Footer /> -->
  